body {
    background:var(--bs-secondary-bg); 
    font-family: system-ui, sans-serif; 
    display:flex; 
    flex-direction:column; 
    margin: 0;
    min-height: 100vh;
    align-items: center;
    overflow-x: hidden;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: 6rem auto;
  font-family: "HK Grotesk", sans-serif;
}

.block {
  flex: 0 0 200px;
  min-height: 140px;
  background: #fff;
  color: #000;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: -6px 6px 0 rgba(200,200,200,0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block h3 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
}

.block ul {
  list-style: disc;
  text-align: left;
  margin: 0 auto;
  padding-left: 1.2rem;
}

.block2 {
  flex: 1 1 100%;      /* full width */
  max-width: 95%;      /* a bit of breathing room */
  font-size: 1.1rem;   /* slightly bigger text */
  line-height: 1.6;
  margin-top: 4rem;    /* spacing from previous row */
  box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.logo {
    margin-left: 1rem;
    height: 48px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.logo:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.logo:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.privacy-link { top: 20px; right: 20px; }
.accCreation  { top: 60px; right: 20px; }
.accRegister  { top: 100px; right: 20px; }

.top-links {
    top: 20px;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 1000;
}

.top-links a {
    font-size: 0.9rem;
    color: #292929;
    background: #fff;
    padding: 0.4em 0.5em;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
    text-decoration: none;
    font-weight: 500;
}

.top-links a:hover {
    background: #f0f0f0;
    color: #000;
    text-decoration: none;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--bs-tertiary-color);
    color: #555;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

.version {
    font-size: 0.8rem;
    color: #791919;
}